@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>VideLine</h1>
    <p class="lead">Sklep z kursami video</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Co sprzedajemy</h2>
        <p>
            Kursy video, które pomogą ci rozwinąć pasje i zainteresowania. W dwóch wymiarach!
        </p>
    </div>
</div>